/* #region scrollbars */
/* width */
::-webkit-scrollbar {
    width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

/* #endregion */

.light-mode {
    --color-background: #f5f5f5;
    --color-primary: #c757d1;
    --color-secondary: #71d47f;
    --color-card: #eeeeee;
}

.dark-mode {
    --color-background: #222222;
    --color-primary: #71d47f;
    --color-secondary: #c757d1;
    --color-card: #292929;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-primary);
}

body.modal-open {
    overflow: hidden;
}

main {
    height: auto;
}

header {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: var(--color-primary);
}

section {
    padding: 2rem;
    margin: auto;
}

#sobre {
    max-width: 30rem;
}

#contactos {
    width: fit-content;
}

h1,
h2 {
    text-align: center;
}

.card {
    background-color: var(--color-card);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 15rem;
    display: flex;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: auto;
}

.container-paginas {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
}

.pagina {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#pagina-inicial {
    transform: translateX(0);
    opacity: 1;
}

#pagina-jogo {
    transform: translateX(100%);
    opacity: 0;
}

.switch #pagina-inicial {
    transform: translateX(-100%);
    opacity: 0;
}

.switch #pagina-jogo {
    transform: translateX(0);
    opacity: 1;
}

.paragrafo {
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

#loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

/* #region home */
#projetos {
    max-width: none;
}

.projetos-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-projeto {
    height: 20rem;
    flex: 1;
    opacity: 0.5;
    transition: transform 0.5s;
    animation: smooth-out 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
}

.card-projeto:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s;
    animation: smooth-in 0.5s ease-in-out;

    opacity: 1.0;
}

.card-contacto {
    justify-content: space-between;
    gap: 3rem;
}

.card-contacto a {
    color: var(--color-primary);
}

.card-contacto a:hover {
    color: var(--color-secondary);
}

.card-contacto-info-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card-contacto-info-col span {
    flex: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-contacto-icone {
    margin-right: 0.2rem;
}

@-webkit-keyframes smooth-in {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes smooth-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@media (max-width: 600px) {
    .projetos-container {
        flex-direction: column;
        align-items: center;
    }

    .card-contacto {
        flex-direction: column;
        gap: 0;
    }

    .card-contacto-info-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}

/* #endregion */

/* #region Modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
}

.modal-scroller {
    width: 100%;
    height: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.modal-content {
    display: none;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 10%;
    gap: 2rem;
    width: 80%;
    height: 100%;
}

.modal-image {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.modal-scroller-actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.btn-modal-scroller {
    border: 2px solid var(--color-card);
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 2rem;
}

.btn-modal-scroller:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-scroller-background-go-back {
    height: 10%;
    width: 100vw;
}

.modal-scroller-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.show {
    display: flex !important;
}

/* #endregion */

/* #region pagina jogo */
#imagem-jogo {
    display: flex;
    justify-content: center;
}

.card-primary {
    background-color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    color: var(--color-background)
}
/* #endregion */